<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>webchat</title>

</head>
<body>
	<div id="contents" style="height:500px;overflow:auto"></div>
	<div>
		<textarea id="msg"></textarea>
		<a href="javascript:;" onclick="sendMsg()">发送</a>
	</div>

	<script src="{{static_url('js/jquery-1.12.4.min.js')}}"></script>
	<script type="text/javascript">	

			var ws = new WebSocket("ws://192.168.43.243:8000/chat");
			
			ws.onmessage = function(data){

				$("#contents").append("<p>" + data.data + "</p>");
			};

			function sendMsg(){

				var msg = $("#msg").val();
				
				if (msg){
					ws.send(msg);
				};	
			};
	</script>
</body>
</html>